<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body style="background: #e3edee;">
    <div class="login-form">
      <h1>Login</h1>
      <form href="#">
        <div class="text-field">
          <input type="text" required>
          <span></span>
          <label>Username</label>
        </div>
        <div class="text-field">
          <input type="password" required>
          <span></span>
          <label>Password</label>
        </div>
        <div class="forget-password">Forgot Password?</div>
        <input type="submit" value="Login">
      </form>
    </div>
  </body>
</html>
